@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* @media (max-width: 817px){
.firstli{
		display: grid;
		
	}
} */

img {
	min-width: 250px;
	min-height: 165px;
	max-width: 250px;
	max-height: 165px;
	border: solid 2px #dee2e6;
	border-radius: 0.5rem;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
	position: absolute;
	background-color: #fff;
	width: 400px;
	height: 200px;
	padding: 15px;
}

.modalBox button {
	display: block;
	width: 80px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.div {
	height: 100%;
	float: left;
}

/*     #grid_2{
       width: 70%;
       margin: 0 auto;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
        background: white; 
        } */
#grid_2 {
	width: 100%;
	background: white;
}

.firstli {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.firstli>li>button {
	width: 100%;
	line-height: 2.875rem;
	font-size: 1.75rem;
	color: rgb(114, 112, 127);
	padding: 0px;
	background: none;
	border: none;
	outline: 0px;
	background-color: white;
	font-family: 'Nanum Pen Script', cursive;
}

.menutitle {
	width: calc(31%);
	margin: 0;
}

.titlefont {
	font-size: 25px;
	font-family: 'Akaya Kanadaka', cursive;
}

.completed {
	border-radius: 1rem;
	display: flex;
	border: solid 2px #dee2e6c2;
	position: relative;
	padding: 15px 15px;
}

.completed>*:not(:last-child) {
	margin-right: 15px;
}

.completed>span {
	margin-left: 20px;
	font-size: 20px;
}
/* modal */
.modalCloseBtn {
	font-size: 20px;
	border: 0;
	outline: 0;
	background-color: transparent;
	position: relative;
	left: 185px;
	bottom: 16px;
	color: silver;
}

.modalCloseBtn>i:hover {
	color: white;
}

.modalCheck {
	position: relative;
	font-size: 20px;
	border: 0;
	outline: 0;
	top: 30px;
	background-color: silver;
	font-family: 'Nanum Pen Script', cursive;
}

.modalCheck:hover {
	background-color: #FFA900;
}

#mainDiv {
	min-width: 400px;
	max-width: 700px;
	min-height: 88vh;
	margin: 0px auto;
}
/* modal - end */
.disabled {
	pointer-events: visible;
	opacity: 1;
}

.like_view {
	float: right;
	font-size: 20px;
	padding: 4px;
}

.nonebtn {
	outline: 0;
	font-family: 'Noto Serif KR', serif;
	padding: 5px;
	width: 100px;
	float: right;
	margin: 2px;
	opacity: 0.6;
	border: solid 2px #bdc3c7;
	border-radius: 0.5rem;
}

.nonebtn:hover {
	background-color: darkorange;
	border-radius: 0.5rem;
	opacity: 1;
}

.cPoint {
	cursor: pointer;
	opacity: 0.3;
	transition: all 1s;
}

.cPoint:hover {
	opacity: 0.7;
}

#nonexistent {
	height: 200px;
	position: inherit;
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	opacity: 0.6;
}

#titleRadio {
	float: right;
	position: absolute;
	right: 11px;
	width: 25px;
	height: 22px;
	top: 13px;
	cursor: pointer;
}